
{{#if formErrors}}
{{#each formErrors}}
<div class="mt-1 alert alert-danger alert-dismissible fade show flashMessageShowOpacity" role="alert">
  <div class="row flashMessageShowGrid">
    <div class="col-1" style="margin-right: 0.5rem;">
      <i class="fas fa-exclamation-circle fa-lg"></i>
    </div>
    <div class="col-11">
      <strong class="alert-heading mt-5">Error</strong>
      <div>{{{this.message}}}</div>
    </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{/if}}