FACEBOOK_ID=Skip
FACEBOOK_SECRET=Skip
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
IMGUR_CLIENT_ID=Skip
MONGODB_URI=mongodb://localhost/expense-tracker
PORT=3000