<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto my-3">
      {{> message}}
    </div>
  </div>
  {{!-- avatar --}}
  <form action="/users/setting?_method=PUT" method="POST" encType="multipart/form-data" style="display: flex;flex-flow:column">
    <div class="form-group row mb-4">
      <div class="col-12 col-md-8 mx-auto">
          <div class="my-3"style="display: flex;justify-content:center">
            <img src="{{ user.photo }}" id="avatarInSetting" alt="user profile image">
          </div>
          <label for="avatar" class="form-label">使用者照片</label>
          <input type="file" class="form-control" id="avatar" name="photo" accept="image/png, image/jpeg" value="{{ user.photo }}">
      </div>
    </div>
  {{!-- username --}}
    <div class="form-group row mb-4">
      <div class="col-12 col-md-8 mx-auto">
          <label for="username" class="form-label">使用者名稱</label>
          <input type="text" class="form-control" id="username" name="name" value="{{ user.name }}">
      </div>
    </div>
    <div style="display: flex;justify-content:center">
      <button type="submit" class="btn btn-primary">儲存</button>
    </div>
  </form>
</div>