<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto my-3">
      {{> message}}
    </div>
  </div>
  {{!-- avatar --}}
  <div class="row mb-4">
    <div class="col-12 col-md-8 mx-auto">
      <form action="/users/setting?_method=PUT" method="POST" encType="multipart/form-data">
        <div class="mb-3">
          <div class="avatar-128 my-3">
            <img src="{{ user.photo }}" id="avatarInSetting" class="d-block" alt="user profile image">
          </div>
          <label for="avatar" class="form-label">修改使用者頭像：</label>
          <input type="file" class="form-control" id="avatar" name="photo" accept="image/png, image/jpeg" required>
        </div>
        <button type="submit" class="btn btn-primary">送出</button>
      </form>
    </div>
  </div>
  {{!-- username --}}
  <div class="row mb-4">
    <div class="col-12 col-md-8 mx-auto">
      <form action="/users/setting?_method=PUT" method="POST" autocomplete="off">
        <div class="mb-3">
          <p>目前的顯示名稱：{{#if user.name}}{{ user.name }}{{else}}（未設定）{{/if}}</p>
          <label for="username" class="form-label">修改顯示名稱為：</label>
          <input type="text" class="form-control" id="username" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">送出</button>
      </form>
    </div>
  </div>
</div>