#showOneItem{
  border-bottom: 1px solid #dddfe2;
}

.list-group-item{
  border: 0px;
}

#categoryIcon{
  display: flex;
  align-items: center;

}

#showGroup{
  display: flex;
  flex-flow: row;
}

#showIconIncomeOrExpenses{
  display: flex;
  flex-flow: row;
  align-self: center;
}

#showIncomeOrExpenses{
  align-self:flex-end;
  font-size:small;
}

#showNameCategoryDateAmount{
  display: flex;
  flex-flow: row;
  align-self: center;
}

#showNameCategory{
  font-size: large;
}
#showDate{
  font-size:small;
}
#showAmount{
  align-self: center;
  font-size: x-large;
}

#showNameCategoryDate{
  display: flex;
  flex-flow: column;
  align-self: center

}