footer {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  background-color: #eee;
}

.copyright {
  color: #666666;
  margin-top: 5px;
}

#formNewEditPage{
  width: 50%;
  margin: 0px auto;
  padding:2rem;
  background-color: #eee;
  border-radius: 10px;

}
.category-invalid-feedback{
  color: red;
}