footer {
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  background-color: #eee;
}

.copyright {
  color: #666666;
  margin-top: 5px;
}

#formNewEditPage{
  margin: 0px auto;
  padding:2rem;
  background-color: #eee;
  border-radius: 10px;
  max-width: 500px;
}
.category-invalid-feedback{
  color: red;
}

.flashMessageShowGrid{
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}

.flashMessageShowOpacity{
  opacity: 0.9;
}

#avatarNav{
  border-radius: 50%;
  width: 30px; 
  height:30px
}

#avatarNavmenu{
  border-radius: 50%;
  width: 60px; 
  height:60px
}

/* index */

#showTotalAmount{
  display: flex;
  width: 95%;
}

#formatTotalAmount{
  font-size: 200%;
  vertical-align:text-top;
}

#showOneItem{
  border-bottom: 1px solid #dddfe2;
}

.list-group-item{
  border: 0px;
}

#categoryIcon{
  display: flex;
  align-items: center;

}

#showGroup{
  display: flex;
  flex-flow: row;
}

#showIconIncomeOrExpenses{
  display: flex;
  flex-flow: row;
  align-self: center;
}

#showIncomeOrExpenses{
  align-self:flex-end;
  font-size:small;
}

#showNameCategoryDateAmount{
  display: flex;
  flex-flow: row;
  align-self: center;
}

#showNameCategory{
  font-size: large;
}
#showDate{
  font-size:small;
}
#showAmount{
  align-self: center;
  font-size: x-large;
}

#showNameCategoryDate{
  display: flex;
  flex-flow: column;
  align-self: center

}

#dateEnd, #dateStart{
  width:auto;
  height:fit-content
}

#list-group-show {
  width: 100%;
}

#actionLogoutNew{
  flex-flow:row;
  
}

@media(max-width: 780px) {
  #indexPage{
    max-width: 100%;
    margin: 0px auto;
  }
}
@media(min-width: 780px) {
  #indexPage{
    max-width: 780px;
    margin: 0px auto;
  }
}

/* new */

.expensesButton{
border-top-left-radius:0;
border-bottom-left-radius:0;
}
.incomeButton{
border-top-right-radius:0;
border-bottom-right-radius:0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* setting */

#avatarInSetting{
  border-radius: 50%;
  width: 100px; 
  height: 100px
}